/* RESET */


/*
/* LAYOUT */
/*body, html{
font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
margin-top: 0;
max-height: 1472px;
min-height: 830px;
padding-top: 0;
}*/


.navbar_content, .navbar_search {

display: flex;
justify-content: center;
padding: 0;
border-style: solid;
border-color: green;

}

.navbar_wraper  {
display: flex;
justify-content: center;
border-style: solid;
border-color: green;
padding-top: 100px;
}

li{
padding: 0 13px 0 13px;
list-style: none;

}

#navbar_apple{
background:  url(images/globalnav_text.png) no-repeat 50% 0;
height: 30px;
width:102px;
}

#navbar_apple:hover{

 url(images/globalsearch_bg.png);
}
