

body{
margin:0px;
widht:100%;
}

/* main wraper*/
div.head_wraper{
background-image: url(images/your_verse_hero.jpg) ;
background-position-y: bottom;
width: 1440px;
height: 538px;
}

/*promos aside */

#promos{
display: flex;
list-style-type: none;

}


#iphone_5s{
/*background-image: url(images/promo_iphone5s.jpg);
background-repeat: no-repeat;*/
height: 200px;
}

#iphone_5c{
/*background-image: url(images/promo_iphone5c.jpg);
background-repeat: no-repeat;*/
height: 200px;
}

#iphone_birthday{
/*background-image: url(images/promo_30_years.jpg);
background-repeat: no-repeat;*/
height: 200px;
}

#suppliers{
/*background-image: url(images/promo_supplier_responsibility.jpg);
background-repeat: no-repeat;*/
height: 200px;
}

/*footer*/
#footer_main{
list-style-type: none;
}

#footer_nav{
display: flex;
list-style-type: none;
}

#footer_nav>li{
margin: 3px;
list-style-type: none;
}
